html {
  font-size: 10px;
}

* {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.center {
  /*  background-color: black; */
  /* padding-top: 10rem; */
  width: 70%;
  margin: auto;
}

.s_title {
  font-size: 28px;
  text-align: center;
}

.services_menu {
  display: flex;
  justify-content: space-around;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 450px;
  perspective: 1000px;
  margin-top: 5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2rem;
  top: -40px;
  left: 0;
  font-size: 22px;
  color: white;
  /* transform-origin: top center; */
  transform: translateY(70%);
  transition: all 0.35s linear;
  opacity: 0;
  text-align: center;
}

.flip-card:hover:after {
  transform: translateY(0%);
  opacity: 1;
  /* transform-origin: bottom center; */
}

.flip-card:nth-child(1):after {
  content: "Drainage & Repair Services";
}

.flip-card:nth-child(2):after {
  content: "Water Supply Services";
}

.flip-card:nth-child(3):after {
  content: "Appliances Services";
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(231, 231, 231);

  .flip_card_title {
    /* padding: 1.5rem 1rem 1rem 0rem; */
    font-size: 26px;
    color: black;
  }

  .horizontal_line {
    width: 100%;
    border-top: black 2px solid;
    /* margin: 2rem 0 1rem 0; */
    float: right;
  }

  .flip_card_desc {
    /* padding-top: 5rem; */
    font-size: 15px;
    color: black;
    /* padding-right: 5rem; */
  }

  .flip_card_front_left {
    text-align: left;
    height: 90%;
    width: 90%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img {
      margin-top: 3rem;
      width: 60px;
      height: 110px;
    }
  }
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  display: grid;
  justify-content: center;
  align-content: center;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 1.5rem;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  a:hover {
    color: rgb(230, 230, 230);
  }

  a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
